{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container ml-12 px-4 py-8">
    <div class="max-w-2xl mx-auto bg-white p-8 border border-gray-200 rounded-lg shadow-lg">
        {% if object %}
            <h1 class="text-xl font-bold text-center text-gray-800">Edit Job</h1>
        {% else %}
            <h1 class="text-xl font-bold text-center text-gray-800">Create Job</h1>
        {% endif %}

        <form method="POST" class="mt-8">
            {% csrf_token %}
            <div class="space-y-6">
                {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        {{ field.label }}
                    </label>
                    {{ field|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" }}
                    {% if field.help_text %}
                        <p class="mt-2 text-xs text-gray-500">{{ field.help_text }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="mt-8 flex justify-center">
                <input type="submit" value="{% if not object %}Create Job{% else %}Update Job{% endif %}" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
            </div>
        </form>
    </div>
</div>
{% endblock %}
