{% extends 'base.html' %}

{% load static %}  

{% block content %}
<div class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="max-w-md w-full bg-white rounded-lg shadow-md p-6">
        <h1 class="text-xl font-bold pb-4 mb-4 text-center border-b">Sign Up</h1>
            <div class="ml-4">
                <div class="mt-4 text-start">
                    <small class="text-gray-500">Already have an account? <a href="{% url 'login' %}" class="text-indigo-600 hover:text-indigo-800">Log In</a></small>
                </div>
                <div class="mt-4 text-start">
                    <small class="text-gray-500">Don't have an account? <a href="{% url 'register_applicant' %}" class="text-indigo-600 hover:text-indigo-800">Sign Up as Applicant</a></small>
                </div>
                <div class="text-start">
                    <small class="text-gray-500">Don't have an account? <a href="{% url 'register_recruiter' %}" class="text-indigo-600 hover:text-indigo-800">Sign Up as Recruiter</a></small>
                </div>
            </div>
    </div>
</div>
{% endblock %}
