{% extends 'base.html' %}
{% load static%}

{% block content %}
<div class="bg-white">
    <!-- Hero Section -->
    <div class="pt-20 pb-12 bg-blue-950 text-white">
        <div class="container  px-6 md:px-12 xl:px-24">
            <div class="flex flex-wrap ">
                <!-- Hero Content -->
                <div class="w-full lg:w-1/2 mb-10 pr-20">
                    <h2 class="text-3xl leading-tight font-bold">Unlock Your Dream Career with <span class="flex justify-center pr-16 text-blue-500">JobFrontier</span></h2>
                    <p class="mt-8 text-lg">Explore new career paths, engage with potential employers, and embark on a journey toward a rewarding professional life.</p>
                    
                    <div class="relative mt-4">
                        <!-- Image in the background -->
                        <!-- <div class="w-full lg:w-1/2 mt-6 lg:mt-0 flex justify-center items-center relative"> -->
                            <!-- <img src="{% static 'images/career-pic.jpeg' %}" alt="Descriptive Alt Text" class="max-w-full h-auto rounded-lg shadow-lg transform scale-x-[-1] absolute mb-20 round-corners"> -->
                            <img src="{% static 'images/career-pic.jpeg' %}" alt="Descriptive Alt Text" class="absolute left-[680px] -top-[180px] custom-image-position">
                        <!-- </div> -->
                        
                        <!-- Search bar positioned on top of the image -->
                        <div class="relative top-0 left-0 right-0 pt-4">
                            <div class="absolute left-[320px] flex items-center bg-white rounded-lg shadow-lg">
                                <input type="text" placeholder="Job Title or Keyword" class="flex-grow p-3 rounded-l-lg focus:outline-none"/>
                                <input type="text" placeholder="Location" class="flex-grow p-3 focus:outline-none"/>
                                <button type="submit" class="pl-8 pr-8 p-3 bg-blue-500 text-white rounded-r-lg shadow-lg">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Features Section -->
    <div class="container mx-auto px-6 md:px-12 xl:px-24 py-20">
        <div class="flex flex-wrap">
            <div class="max-w-full md:w-1/2 lg:w-1/4 p-4">
                <div class="p-6 bg-white rounded-lg shadow-xl">
                    <h3 class="font-semibold text-lg">Job Search Made Easy</h3>
                    <p class="text-gray-600 mt-2">Effortlessly browse through a vast selection of the latest job opportunities, tailored to your interests and skills.</p>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                <div class="p-6 bg-white rounded-lg shadow-xl">
                    <h3 class="font-semibold text-lg">Organized Job Applications</h3>
                    <p class="text-gray-600 mt-2">Manage your job applications efficiently with our streamlined system .</p>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                <div class="p-6 bg-white rounded-lg shadow-xl">
                    <h3 class="font-semibold text-lg">enhancing visibility to potential employers</h3>
                    <p class="text-gray-600 mt-2">Build a comprehensive profile to showcase your full professional background and skills.</p>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                <div class="p-6 bg-white rounded-lg shadow-xl">
                    <h3 class="font-semibold text-lg">Employer Solutions</h3>
                    <p class="text-gray-600 mt-2">Streamline your recruitment process with our tailored solutions for optimal candidate matching.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
