body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  body {
    background-color: aliceblue;
  }
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}

.centered-modal {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
}


.round-corners {
    border-top-left-radius: 0; /* Adjust the radius as needed */
    border-bottom-right-radius: 1rem; /* Adjust the radius as needed */
}

.custom-image-position {
    position: absolute;
    left: 600px;
    top: -100px;
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* assuming round-corners class implies a border-radius */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* example shadow */
    transform: scaleX(-1);
}

.applicant-info {
    width: 900px;
}