body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  body {
    background-color: aliceblue;
  }
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}

.work-experience input .education input{
    border: 2px solid gray; 
    transition: border-color 0.3s;  
}

.work-experience input:hover .education input:hover {
    border-color: blue;  
}

#certificationModal {
    display: none; /* Start hidden */
    position: fixed;
    left: 80%;
    top: 80%;
    transform: translate(-50%, -50%); /* Center the modal *
    max-width: 600px; /* Maximum modal width */
  }
